@model APP1.Models.Package

<h2>Список предметов</h2>
<table class="table">
     <tr>
         <th>Number</th>
         <th>RegDate</th>
     </tr>

   
    {
        <tr>
            <td>@Model.Number</td>
            <td>@Model.RegDate</td>
        </tr>
    }
</table>
