
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<APP1.Models.Package>
 
<h2>Список предметов</h2>
<table class="table">
     <tr><th>Имя</th><th>Возраст</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Number</td>
            <td>@item.RegDate</td>
        </tr>
    }
</table>
